{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/solar/bootstrap.min.css" />
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>

<body>
  {% include "base.html" %}

  <div class="container bg-white shadow-md p-5 mt-5 form-layout">
    <h3>This is our Dashboard!</h3>

    <a href="{% url 'create-task' %}" class="btn btn-primary navbar-btn">Create a task</a>

    <a href="{% url 'user-logout' %}" class="btn btn-primary navbar-btn">Logout</a>
  </div>

</body>

</html>