{% load static %}

{% include "base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <h2>This is our homepage!</h2>
    <a href="{% url 'register' %}">Register a user</a>
    <br><br><br>
    <img src="{% static 'images/fb.png' %}" alt="" style="width: 200px;">
    <br><br>
    <a href="{% url 'create-task' %}">Create a task</a>
    <br><br>
    <a href="{% url 'view-tasks' %}">View tasks</a>

    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>